body{
  /*Requisito 1*/
  background-color:rgb(253, 251, 251);
}
#cabecalho{
   /*Requisito 2*/
  position: fixed;
  top: 0;
  height: 100px;
  background-color: aqua;
}
   /*Requisito 3*/
#minha_foto{
  width: 150px;
}
/*Requisito 4*/
#licoes_aprendidas{

}
/*Requisito 5*/
#licoes_a_aprender{

}
/*Requisito 6*/
#rodape{

}